includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
            - '#If condition is always false.#'
    parallel:
        processTimeout: 300.0
        maximumNumberOfProcesses: 1
    treatPhpDocTypesAsCertain: false
    tips:
        treatPhpDocTypesAsCertain: false
